// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

// $primary-color: #24bfe6;
// $secondary-color: #1c9fdb;
$primary-color: #CDF3A2;
$secondary-color: #acee61;

$white-color: #fff;

$dark-grey: #0f0f0f;

$dark-blue-text: #557174; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;


// Custom colors

$c1: #F7F7E8;
$c2: #C7CFB7;
$c3: #9DAD7F;
$c4: #557174;
$c5: #e6e6e6;
$c6: #0f0f0f;