.about {
    position: relative;
    padding: 60px  0;

    @include desktop {
        padding: 80px  0;
    }

    .container {
        padding: 0 $gap;

        h2 {
            font-size: $size-2;
            line-height: $size-2;
            font-family: 'Merriweather';
            color: $cc-5;
        }

        .pic {
            border-radius: 4px;
        }

        .social{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 15px 0;
            font-size: 1.6rem;
            & a {
                text-decoration: none;
                color: unset;
            }

            li{
                // margin-right: 20px ;
                
                padding: 6px 12px;
                border: solid 1px rgba(0,0,0,.2);
                border-radius: 50%;
                margin-right: 6px;

                &:hover {
                    color: tomato;
                    transition: all ease-in-out 200ms;
                }
            }
        }
    }
}