.contact {
    background: $cc-1;
    position: relative;
    padding: 60px 0;

    .container {
        padding: 0 $gap;

        input {
            letter-spacing: .3rem;
        }

        input, textarea {
            border-radius: unset;
            border: none;
            font-family: 'Open Sans';
        }

        .button {
            &.decorated {
            border-radius: unset !important;
            border: none !important;
            @include decoration();
            }

        }
    }
}