.footer {
    background-color: $cc-5;
    position: relative;
    outline: 1px dashed $cc-6;
    outline-offset: -6px;

    .content {
        padding: 0 $gap;

        p {
            color: darken($cc-3, 30%);
            text-transform: uppercase;
            letter-spacing: .15rem;
            font-size: .9rem;
        }

        .muted {
            font-size: .5rem;
        }
    }
}