.services{

    text-align: center;
    padding: 60px  0;

    @include desktop {
        padding: 80px  0;
    }

    .container {
        padding: 0 $gap;

        h2 {
            font-size: $size-2;
            line-height: $size-2;
            padding-bottom: $gap / 2;
            font-family: 'Merriweather';
            color: $cc-5;
           
        }

        .subtitle {
            font-family: 'Open Sans';
            font-size: $size-3;
            line-height: $size-3;
            padding-bottom: $gap / 2;
        }

        .icon {
            position: relative;
            font-size: 6rem;
            line-height: 7rem;
            display: block;
            margin-bottom: 20px;

            // &:before {
            //     content: '';
            //     width: 150px;
            //     height: 2px;
            //     position: absolute;
            //     bottom: 0;
            //     left: 50%;
            //     transform: translateX(-50%);
            //     background: rgba($cc-4, .15);
                
            // }
             
            @include touch {
                margin-top: 40px;
            }
        }
    }
}