.contact {
    background-color: $cc-1;
    position: relative;
    padding: 6rem;

    input {
        letter-spacing: .3rem;
    }

    input, textarea {
        border-radius: unset;
        border: none;
        font-family: 'Open Sans';
    }
}