.experience{
    position: relative;
    padding: 10rem 0;

    background: $cc-5;
    color: lighten($cc-4, 20%);
    
    
    .job {
        position: relative;
        padding-bottom: 40px;

        h3 {
            color: $cc-3;
            font-size: 2rem;
            line-height: 2rem;
            padding-bottom: 2rem;
        }
        h5 {
            color: darken($cc-3, 10%);
            font-size: 1.4rem;
            font-family: 'Montserrat';
            letter-spacing: .15rem;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            border-bottom: 1px dashed $cc-6;
            bottom: 0;
        }

        .date {
            p {
                font-size: 1.3rem;
                color: $cc-3;
                line-height: 2rem;
                letter-spacing: .15rem;
            }
        }
    }
}